*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bgColor: rgb(81, 167, 238);

}
header{
  height: calc(5rem + 1vw);
  background-color: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.startmenu{
  display: flex;
  flex-direction: column;
}

.button {
  width: 100vw;
  height: calc(3rem + 1vw);
  border-radius: calc(0.5rem + 1vw);
  font-size: calc(0.8rem + 1vw);
  font-weight: bolder;
}
/*AUFBAU GRID___________________________________________  */
.fotogrid{
  border: 2px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  gap: calc(1rem + 1vw);
  position: relative;
}

.one{
  grid-area: 1/1/2/2;
  background-image: url(./images/1.jpg);
}

.two{
  grid-area: 1/2/2/3;
  background-image: url(./images/2.jpg);
}

.three{
  grid-area: 1/3/2/4;
  background-image: url(./images/3.jpg);
}

.four{
  grid-area: 2/1/3/2;
  background-image: url(./images/4.jpg);
}

.five{
  grid-area: 2/2/3/3;
  background-image: url(./images/Kerstin.jpg);
}

.six{
  grid-area: 2/3/3/4;
  background-image: url(./images/6.jpg);
}

.seven{
  grid-area: 3/1/4/2;
  background-image: url(./images/7.jpg);
}

.eight{
  grid-area: 3/2/4/3;
  background-image: url(./images/8.jpg);
}

.nine{
  grid-area: 3/3/4/4;
  background-image: url(./images/9.jpg);
}

.mgfotos.ten{
  grid-area: 4/1/5/2;
  background-image: url(./images/Uwe.jpg);
  background-position-y: 25%;
}

.eleven{
  grid-area: 4/2/5/3;
  background-image: url(./images/11.png);
}

.twelve{
  grid-area: 4/3/5/4;
  background-image: url(./images/11.png);
}

/*STYLING DER FOTOS______________________________________________  */
.mgfotos{
  border: 2px solid blue;
  width: 29vw;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  border-radius: calc(1rem + 1vw);
  position: relative;
 }

.mgfotos::before{
  content: "Andreas";
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 5px;
  font-size: calc(1rem + 1vw);
  background-color: rgba(103, 95, 95, 0.5);
  color: white;
  border-radius: calc(0.5rem + 1vw);
}
/*KEGELKÖNIG______________________________________  */
.six::after{
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-family: fontawesome;
  content: "\f521";
  color: white;
  font-size: calc(1.5rem + 1vw);
}

/*PUMPENKÖNIG__________________________________________  */
.ten::after{
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-family: fontawesome;
  content: "\30";
  color: white;
  font-size: calc(1.5rem + 1vw);
}

.two::before{
  content: "Anne";
}

.three::before{
  content: "Christoph";
}
.four::before{
  content: "Frank";
}
.five::before{
  content: "Kerstin";
}
.six::before{
  content: "Klaus";
}
.seven::before{
  content: "Michael";
}
.eight::before{
  content: "Monika";
}
.nine::before{
  content: "Sylvia";
}
.ten::before{
  content: "Uwe";
}

.eleven::before{
  content: "Gast";
}

.twelve::before{
  content: "Gast";
}

/*AKTUELLERKEGELABEND ZUSAGEN________________________________  */
legend{
  font-size: calc(2rem + 1vw);
  font-weight: bolder;
  text-align: center;
}

input[type=checkbox]{
  display: inline-grid;
  width: 20px;
  height: 20px;
  margin: 10px;
}

label[for=name]{
  font-size: calc(1rem + 1vw);
  text-decoration: underline;
}

table{
  width: 100vw;
  border-radius: calc(1rem + 1vw);
  text-align: center;
}

th, td{
  border: 2px solid black;
}
